# ./.env 
# for staging environment
# Docker Compose passes 
# an empty string to any environment 
# variable you do not define.
# https://runnable.com/docker/introduction-to-docker-compose
# https://gist.github.com/mpneuried/0594963ad38e68917ef189b4e6a269db


# Port to run the container
# PORT=8888



# HOST_IP=$(ifconfig en0 | awk '/ *inet /{print $2}')
# COMPOSE_HTTP_TIMEOUT=45
# EXTERNAL_PORT=8000 # 5000 for Flask and 8000 for Django
# COMPOSE_FILE
# COMPOSE_PROJECT_NAME
# DOCKER_HOST
# DOCKER_TLS_VERIFY
# DOCKER_CERT_PATH=/mycerts/docker.crt
# COMPOSE_API_VERSION
