black
matplotlib
jupyter
notebook
flake8
beautifulsoup4
decorator
gensim
ipykernel
ipython
more-itertools
jsonschema
jupyter
jupyterlab
lxml
nltk
numpy
pandas
plotly
pyLDAvis
scikit-learn
scipy
seaborn
selenium
sortedcollections
sortedcontainers
spacy
spyder
sumy
textacy
tqdm