awscli
click
matplotlib
jupyter
notebook
Sphinx
flake8
appnope
asn1crypto
attrs
backcall
beautifulsoup4
blinker
blis
boto
boto3
botocore
breadability
bz2file
cachetools
certifi
cffi
chardet
cryptography
cycler
cymem
cytoolz
decorator
docopt
docutils
en-core-web-lg
en-core-web-md
en-core-web-sm
funcy
future
gensim
idna
ipykernel
ipython
ipython-genutils
jedi
jellyfish
Jinja2
jmespath
joblib
jsonschema
jupyter-client
jupyter-core
kiwisolver
lxml
MarkupSafe
murmurhash
networkx
nltk
numexpr
numpy
oauthlib
olefile
palettable
pandas
parso
patsy
pexpect
pickleshare
Pillow
plac
plotly
preshed
prompt-toolkit
ptyprocess
pycountry
pycparser
pyemd
Pygments
PyJWT
pyLDAvis
pyOpenSSL
pyparsing
Pyphen
pyrsistent
PySocks
python-dateutil
pytz
pyzmq
requests
requests-oauthlib
retrying
s3transfer
scikit-learn
scipy
seaborn
selenium
six
smart-open
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
spacy
srsly
statsmodels
sumy
textacy
thinc
toolz
tornado
tqdm
traitlets
tweepy
urllib3
wasabi
wcwidth
anaconda
pillow
pip
pyldavis
git+https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
git+https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz#egg=en_core_web_md
git+https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz#egg=en_core_web_lg